.video-call {
  height: 100vh;
}

.join-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.input-join {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.participant-grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
