@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.custom-modal-content {
  background-color: white;
  position: fixed;
    /* Ensure the modal stays fixed */
    top: 50%;
    /* Place the top of the modal at the vertical center */
    left: 50%;
    /* Place the left side of the modal at the horizontal center */
    transform: translate(-50%, -50%);
    /* Move the modal back by half its width and height to center it */
    max-width: 80%;
    /* Limit the maximum width of the modal */
    max-height: 80%;
    /* Limit the maximum height of the modal */
    overflow-y: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-header {
  background-color: #f8f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 680px 20px;
  font-size: calc(5px + 2vmin);
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  padding-top: 60px;
}

.sticky-header {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  background-color: #fefefe;
  z-index: 9; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  padding: 10px 20px; 
}

.auth-container {
  position: fixed;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
  z-index: 999;
}

.minimized-clock {
  transform: scale(0.5);
  transform-origin: top left;
  position: fixed;
  top: 4rem; 
  left: 6rem; 
  z-index: 10;
  z-index: 10;
  transition: all 0.4s ease-in-out; 
}

.timer-fixed {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  background-color: #fefefe; 
  z-index: 999; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.timer-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


.greeting {
  color: rgb(0, 0, 0);
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

.App-link {
  color: #61dafb;
}

.clock-container {
  margin-top: 20px;
  transition: top 0.4s ease, left 0.4s ease, transform 0.4s ease;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
